[submodule "Biome"]
path = Biome
url = ssh://git@github.com/CodeEditorLand/Biome.git

[submodule "BiomeIntelliJ"]
path = BiomeIntelliJ
url = ssh://git@github.com/CodeEditorLand/BiomeIntelliJ.git

[submodule "BiomeLand"]
path = BiomeLand
url = ssh://git@github.com/CodeEditorLand/BiomeLand.git

[submodule "DiscordUtilsBot"]
path = DiscordUtilsBot
url = ssh://git@github.com/CodeEditorLand/DiscordUtilsBot.git

[submodule "PreCommit"]
path = PreCommit
url = ssh://git@github.com/CodeEditorLand/PreCommit.git

[submodule "Resources"]
path = Resources
url = ssh://git@github.com/CodeEditorLand/Resources.git

[submodule "SetupBiome"]
path = SetupBiome
url = ssh://git@github.com/CodeEditorLand/SetupBiome.git
